<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PlantPlaces.com</title>
<style type = text/css>
body{
	padding-left: 2em;
	}
h1{
	background-color: Green;
	color: Orange;
}
</style>
</head>
<body style = "border: 5px solid" >
<h1>Welcome to PlantPlaces!</h1>
<br/>
<p th:text = "${specimenDTO}" />;
<img src = src/main/resources/templates/Flower.jpg alt = "yellow flower" height = 100px width = 100px>
<p>This is our website, which is a work in progress.  It is our goal to put as much helpful information about growing plants at our horticulture club.</p>
<h2>here is a list of flowers</h2>
<ul style = "color: Green">
	<li>Rose</li>
	<li>Tulip</li>
	<li>Gardenia</li>
	<li>Buttercup</li>
	<li>Violet</li>
	
</ul>
<h2>Here is a list of plants that are not flowers.</h2>
<ul style = "color: Orange">
	<li>Cucumber</li>
	<li>Carrot</li>
	<li>Tomato</li>
	<li>Celery</li>
	<li>Onion</li>
	<li>Corn</li>
</ul>
<h2>Would you like to support our club?</h2>	
<button>Subscribe</button>
</body>
</html>